body{
    background-color: rgb(75, 75, 255);
    font: normal 15pt arial;
    color: white;
}
header{
   text-align: center;
}
section{
    background: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(00, 00,00);
    width: 500px;
    margin: auto;
    padding: 10px;
}
div{
    text-align: center;
    align-items: center;
}
footer{
    font-style: italic;
    text-align: center;
}